#container {
    background-color: #999999;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    min-width: 700px;
    min-height: 400px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #22FF22;
    padding: 20px;
    text-align: center;
}

#content {
}

#left {
    position: absolute;
    left: 10px;
    top: 70px;
    overflow: hidden;
    width: 150px;
    border: 10px;
	background-color: #00CC22;
}

#center {
    position: absolute;
    top: 70px;
    left: 170px;
    right: 170px;
    min-width: 300px;
	background-color: #00BB22;
    padding: 20px;
}

#right {
    position: absolute;
    right: 10px;
    top: 70px;
    overflow: hidden;
    width: 150px;
    border: 10px;
    background-color: #00AA22;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	background-color: #009922;
    padding: 20px;
    text-align: center;
}
