#header {
	background-color: #22FF22;
}

#content {
}

#left {
	background-color: #00CC22;
}

#center {
	background-color: #00BB22;
}

#right {
	background-color: #00AA22;
}

#footer {
	background-color: #009922;
}
